@page "/bouncing-text"

<PageTitle>Bouncing Text</PageTitle>

<div class="parent">
    <div class="child">
        <div class="letter" id="one">L</div>
        <div class="letter" id="two">O</div>
        <div class="letter" id="three">A</div>
        <div class="letter" id="four">D</div>
        <div class="letter" id="five">I</div>
        <div class="letter" id="six">N</div>
        <div class="letter" id="seven">G</div>
        <div class="letter" id="eight">.</div>
        <div class="letter" id="nine">.</div>
        <div class="letter" id="ten">.</div>
    </div>
    <div class="child">
        <div class="left-foreground"></div>
        <div class="back-line">
            <div class="moving-line"></div>
        </div>        
        <div class="right-foreground"></div>
        <div class="return"><a href="/">Return</a></div>
    </div>
</div>