@page "/"

<PageTitle>Index</PageTitle>

<div class="parent">
    <div class="child">
        <h1>Index</h1>
        <p>
            Welcome to the CSS Transform test site!
        </p>
        <ul>
            <li><a href="bouncing-text">Bouncing Text Page</a></li>
        </ul>
    </div>
</div>